<div class="forms">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="title p-5">Edit my profile</h2>


            <form action="/profile/edit" method="POST">

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input required type="text" class="form-control" id="username" name="username" value="{{username}}">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input required type="password" class="form-control" id="password" name="password" value="{{password}}">
                </div>
                <div class="mb-3">
                    <label for="fullName" class="form-label">Full Name</label>
                    <input required type="text" class="form-control" id="fullName" name="fullName" value="{{fullName}}">
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input required type="text" class="form-control" id="city" name="city" value="{{location.city}}">
                </div>       
                 <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input required type="text" class="form-control" id="country" name="country" value="{{location.country}}">
                </div>              
                <button type="submit" class="btn btn-success" id="button-form">Edit profile</button>
                <a href="/" class="btn btn-success" id="button-form">Cancel</a>
            </form>
           
        </div>
    </div>
</div>
</div>