<h1>{{this.username}}</h1>
<h3>{{currentUser.city}}, {{currentUser.country}}</h3>
<p>Full Name: {{currentUser.fullName}}</p>
<p>Email: {{currentUser.email}}</p>
<h4>My ads</h4>
<h4>My requests</h4>
<button><a href="/profile/{{currentUser._id}}/edit">Edit my profile</a></button>