<div>
    {{#with user}}
    <h1>{{username}}</h1>
    <h3>{{location.city}}, {{location.country}}</h3>
    <p>Full Name: {{fullName}}</p>
    <p>Email: {{email}}</p>
    {{/with}}
    <h4>My ads</h4>
    {{#each myAds}}
    {{> productCard this}}
    {{/each}}
    <h4>My requests</h4>
    <button class="btn btn-dark"><a href="/profile/edit">Edit my profile</a></button>
</div>