<div class="col-4">
  <form action="/product/{{product._id}}/request" method="post">
    <label for="request" class="form-label">Request
      {{this.product.name}}!</label>
    <input type="text" class="form-control" id="request" name="request" />
    <button type="submit" class="btn btn-danger">Send a message</button>
  </form>
  {{requestedProd.buyer}}
  <p>{{requestedProd.buyer.username}}:</p>
  <p>{{requestedProd.seller.username}}:</p>
  {{#each requestedProd.request}}

  {{/each}}

  {{#ifEquals owner._id user._id}}
    <button class="btn btn-dark"><a
        href="/product/{{product._id}}/request/edit"
      >Edit</a></button>
    <form action="/product/{{product._id}}/request/delete" method="post">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  {{/ifEquals}}
</div>