<div class="container">
  <h1>{{name}}</h1>
  <hr>

  <div class="row">
    <div class="col-8">
      <h3>Product Details</h3>
       <img src="{{imageUrl}}" alt="author-img">
      <p>{{username}}</p>
      <p>Description: {{description}}</p>
      <p>Condition: {{condition}}</p>
      <p>City: {{location.city}}</p>
      <p>Country: {{location.country}}</p>
    </div>
    <div class="col-4">
      
        <label for="comments" class="form-label">Ask a question!</label>
        <input type="text" class="form-control" id="comments" name="comments">
    <button type="submit" class="btn btn-dark">Submit</button>
    </div>
  </div>

  <hr>
  <a href="/">Home</a>

</div>